APPLICATION_NAME=Warden
ENVIRONMENT=development
SERVER_HOST=localhost
SERVER_PORT=5000
FORCE_SSL=false
SERVER_SECRET=yourserversecret
DATABASE_URL=postgres://<YOUR_USERNAME>@localhost:5432/warden?sslmode=disable
REDIS_URL=redis://localhost:6379
SESSION_COOKIE_NAME=warden
SESSION_TOKEN_MAX_AGE=86400
IDENTITY_TOKEN_MAX_AGE=3600
VERIFICATION_TOKEN_MAX_AGE=300
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_SENDER=no-reply@localhost
SMTP_TIMEOUT=5